{% extends 'main/layout/base.html' %}

{% block content %}
  <main class="container">
    <div class="row mt-5">
      <div class="col">
        <h2 class="text-center">
          Необходимо
          <a href="{% url 'register' %}">зарегистрироваться</a>
          или
          <a href="{% url 'login' %}">войти</a>
          под своей учетной записью
        </h2>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col">
        <h2 class="text-center">Пользователей в системе: {{ user_count }}</h2>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col">
        <h2 class="text-center">Ссылок в системе: {{ link_count }}</h2>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col">
        <h2 class="text-center">Всего переходов по ссылкам: {{ views_count }}</h2>
      </div>
    </div>
  </main>
{% endblock %}